* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
font-family: 'Open Sans', sans-serif;
}
body {

}
.cont{
  max-width: 100%;
  height:500px;
  border: 1px solid pink;
}
.catlist {
  display: block;
  clear:both;
  width:30%;
  height: 100%;
  border:1px solid blue;
  background: black;
  float: left;
  padding: 2%;
}
li {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid white;
  font-style: normal;
  font-size: 15 px;
  color: pink;
  padding: 4%;
  list-style: none;
  margin: 1px;
}
.gContainer{
  width:70%;

  float:left;
}

#imgCat img{
  max-width: 100%;
  padding: 2%;
  max-height: 100%;
}

#nameCat{
padding: 2%;
}

#counter{
  border: :1px solid red;
  display: flex;
  float:left;
}

/**.gContainer {
  max-width: 100%;
  max-height: 100%;
}

#catContainer #catContainer2 {
  max-width: 50%;
  padding: 1% 1% 1% 1%;
}

.catImage {
  max-width: 50%;
  display: block;
  float:left;
  padding: 1% 1% 1% 1%;
}



img {
max-width: 100%;
}

#counter2{
  border: :1px solid red;
}**/
